/* Enter your custom styles here */

#container-productcatalogwebpage---S1--page-cont{
    background-color: blanchedalmond;

}

#container-productcatalogwebpage---S1--page-title-inner{

    background-color: yellowgreen !important;
    text-decoration: solid;
    padding: 1rem !important;
}

#container-productcatalogwebpage---S1--input1-inner{
    background-color: yellow !important;

    
}
    






